<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjmovie.dao.mapper.MovieMapper">
    <resultMap id="BaseResultMap" type="com.hjmovie.dao.entity.MovieDo">
        <result column="id" property="id" />
        <result column="movie_name" property="movieName" />
        <result column="release_time" property="releaseTime" />
        <result column="cover" property="cover" />
        <result column="votes" property="votes" />
        <result column="remain_votes" property="remainVotes" />
        <result column="box_office" property="boxOffice" />
        <result column="score" property="score" />
        <result column="price" property="price" />
    </resultMap>

    <sql id="Base_Column_List">
                id,
                movie_name,
                release_time,
                cover,
                votes,
                remain_votes,
                box_office,
                score,
                price
    </sql>

    <select id="getMovieList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
         FROM t_movie
        <where>
            <if test="movieName != null">
                and `movie_name` like concat("%", #{movieName},"%")
            </if>
        </where>
    </select>

    <delete id="delMovie">
        DELETE FROM t_movie
        WHERE id = #{id}
    </delete>

    <select id="getMovieDetail"  resultType="com.hjmovie.dao.entity.MovieDo">
        SELECT  <include refid="Base_Column_List" /> FROM t_movie
        WHERE id = #{id}
    </select>

    <insert id="addMovie" parameterType="com.hjmovie.dao.entity.MovieDo">
        insert into t_movie
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="releaseTime != null">RELEASE_TIME,</if>
            <if test="remainVotes != null">REMAIN_VOTES,</if>
            <if test="boxOffice != null">BOX_OFFICE,</if>
            <if test="price != null">PRICE,</if>
            <if test="score != null">SCORE,</if>
            <if test="votes != null">VOTES,</if>
            <if test="cover != null">COVER,</if>
            <if test="movieName != null">MOVIE_NAME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="releaseTime != null">#{releaseTime},</if>
            <if test="remainVotes != null">#{remainVotes},</if>
            <if test="boxOffice != null">#{boxOffice},</if>
            <if test="price != null">#{price},</if>
            <if test="score != null">#{score},</if>
            <if test="votes != null">#{votes},</if>
            <if test="cover != null">#{cover},</if>
            <if test="movieName != null">#{movieName},</if>
        </trim>
    </insert>

    <update id="editMovie" parameterType="com.hjmovie.dao.entity.MovieDo">
        update t_movie
        <set>
            <if test="movieName != null">
                movie_name = #{movieName},
            </if>
            <if test="releaseTime != null">
                release_time = #{releaseTime},
            </if>
            <if test="cover != null">
                cover = #{cover},
            </if>

            <if test="votes != null">
                votes = #{votes},
            </if>
            <if test="remainVotes != null">
                remain_votes = #{remainVotes},
            </if>
            <if test="boxOffice != null">
                box_office = #{boxOffice},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
