<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjmovie.dao.mapper.UserMapper">
    <sql id="Base_Column_List">
        `name`,
        password,balance,buy_movie
        
    </sql>
    
    <select id="findAll" resultType="com.hjmovie.dao.entity.UserDo">
        SELECT  <include refid="Base_Column_List" /> FROM t_user
    </select>

    <insert id="addUser" parameterType="com.hjmovie.dao.entity.UserDo">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">`NAME`,</if>
            <if test="password != null">PASSWORD,</if>
            <if test="balance != null">BALANCE,</if>
            <if test="buyMovie != null">buy_movie,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="password != null">#{password},</if>
            <if test="balance != null">#{balance},</if>
            <if test="buyMovie != null">#{buyMovie},</if>
        </trim>
    </insert>
</mapper>
